
.spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

li {list-style:none;}

ul {
    margin: 0px;
    padding: 0px;
}